.sidebar {
  background-color: white;
  display: flex;
  flex: 0.4;
  justify-content: center;
  height: 100%;
  margin-top: 20px;
  flex-direction: column;
}

.headline {
  color: rgb(97, 96, 96);
}

.top_image {
  width: 90px;
  height: 140px;
}

.size {
  margin-top: 20px;
}
.paragraph {
  width: 350px;
}
