.header {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  box-shadow: 5px 2px #dddddd;
}
.header__list {
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 70px;
}

.header__item {
  color: #ff6b6b;
  font-weight: 400;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.header__item > p {
  margin-right: 20px;
}

.icon {
  display: flex;
  padding-left: 20px;
  color: #ff6b6b;
}

.title {
  font-size: 18px;
}

.delete_button {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
